<div class="details-view">

  <h4>Background Image</h4>
  <%= cms_image_tag(widget, :image, data: { filter: 'images' }) %>

  <h4>Headline</h4>
  <%= cms_tag(:div, widget, :headline) %>

  <h4>Text</h4>
  <%= cms_tag(:div, widget, :main_content) %>

  <h4>Button</h4>
  <%= cms_edit_link(widget, :button, data: {placeholder: "Where should the button take the user ..."}) %>

</div>
