<div class="item <%= widget.additional_classes(params) %>">
  <%= scrivito_image_tag widget, :image %>
  <div class="carousel-caption">
    <div class="content">
      <%= scrivito_tag :div, widget, :panel_content %>
    </div>
  </div>
</div>
